/* 
    Created on : 20/11/2018, 19:31:37
    Author     : Marco Antonio Rozo
*/
#cabeca{
    width: auto;
    height: 80px;
    margin: 0 auto;
    background-color: #008AFF;
}
#cabeça img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#cabeca i {
    font-size: 30px;
    color: #FFFFFF;
}
.dropdown{
    width: auto;
    height: auto;
    margin: 0;
    background-color: #FFFFFF; 
}
h1{
    text-align: center;
    position: relative;
}
h1 p {
    color: #636363;
}
.agora{
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
}
#rodape{
    width: auto;
    height: 60px;
    margin: 0 auto;
    background-color: #008AFF;
}
#rodape a{
    font-size: 15px;
}
.rodapeicone{
    margin-top: 10px;
    font-size: 35px;
    color: #CDCDCE;
}
@media screen and (max-width: 762px) {    /* Para mobile tela */
    #rodape{
        height: auto;
        margin: 0 auto;
        background-color: #008AFF;
    }
    .rodapeicone {
        margin-top: 10px;
        font-size: 30px;
        color: #CDCDCE;
        text-align: center;
    }
    .catmobile {
        text-align: center;
    }
    #rodape .logo-rodape{
        text-align: center;
    }
    .logocabeca{
    text-align: center;
}
}
.noticia{
    padding-right: 25px !important;
    padding-left: 25px!important;
}
.botao{
    width: 100%;
}